<!-- Visão geral do site -->
<div class="panel panel-default">
  <div class="panel-heading main-color-bg">
    <h3 class="panel-title">Nova Avaliação</h3>
</div>
<div class="panel-body">
    <%= simple_form_for(@assessment) do |f| %>
    <div class="form-inputs">
        <%= f.hidden_field :client_id, value: @client.id %>
        
    </div>

    <div class="form-actions">
        <%= f.button :submit, 'Finalizar Avaliação', class: 'btn btn-success' %>
    </div>
    <% end %>
    <%= link_to 'Voltar', assessments_path(client_id: @client.id) %>
</div>
</div>
