<!-- Website Overview -->
<div class="panel panel-default">
	<div class="panel-heading main-color-bg">
		<h3 class="panel-title">Editar Equipamento</h3>
	</div>
	<div class="panel-body">
		<%= render 'form', equipment: @equipment, class: "form-group" %>

		<%= link_to 'exibir equipamento', @equipment %> |
		<%= link_to 'voltar', equipment_index_path %>
	</div>
</div>
