<!-- Visão geral do site -->
<div class="panel panel-default">
  <div class="panel-heading main-color-bg">
    <h3 class="panel-title">Novo Ciclo</h3>
  </div>
  <%= render 'form', locals: {gymcard: @gymcard, cyclo: @cyclo } %>
</div>
